body {
  padding-top: 50px;
}
.mycontent-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-header {
    float: left;
    padding: 15px;
    width: 100%;
}
.navbar-brand {
    float:none;
}
h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}